# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Local environment
.env
.env.*

